.text {
    color: aliceblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
    background-color: black;
}

p {
    text-align: center;
}

a {
    color: aliceblue;
}

textarea {
    background-color: black;
    color: aliceblue;
    width: 400px;
    height: 120px;
}

button {
    width: 200px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color:aliceblue;
}

.submit {
    background-color: rgb(19, 19, 19);
    color:aliceblue;
    border: none;
}

footer {
    text-align: right;
    text-align: bottom;
    }

footer p {
        margin: 0;
        padding: 0;
    }

body{
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F65%2F56%2Fca%2F6556ca0886a22948573c1845169e7a21.gif&f=1&nofb=1&ipt=df7444d3d3b5c611a1a764a3ab45dfbee0cafdfadcac46fef773e930f7eed472&ipo=images');
        background-size: cover;
        height: 100vh;
        padding:0;
        margin:0;
        }

*:focus {
    outline: none;
}
